:root {
  --breath-time: 4s;
  --breath-final-opacity: 0.2;
  --button-opacity: 0.5;
  --button-transition: opacity 0.5s;
  --button-hover-opacity: 1;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

main {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(9deg, rgba(32, 129, 112, 1) 0%, rgba(176, 226, 179, 1) 100%);
}

button {
  cursor: pointer;
}

.animation {
  animation: fadeOut var(--breath-time);
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: var(--breath-final-opacity);
  }
}

.cloudContainer {
  position: relative;
}

.cloudContainer img {
  position: absolute;
  z-index: -1;
  filter: drop-shadow(2px 2px 10px #00000044);
}

.cloudContainer img:first-of-type {
  top: -80px;
  animation: cloud 65s infinite;
}

.cloudContainer img:nth-of-type(2) {
  animation: cloud 85s infinite;
}

.cloudContainer img:last-of-type {
  top: -120px;
  animation: cloud 45s infinite;
}

@keyframes cloud {
  0% {
    transform: translateX(-60vw);
  }
  100% {
    transform: translateX(80vw);
  }
}

.meditating {
  margin-top: 2rem;
  width: 65vw;
  max-width: 500px;
  filter: drop-shadow(0px 8px 10px #00000066);
}

.breathContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-content: center;
  z-index: 10;
  text-align: center;
  overflow: hidden;
}

.instructions {
  margin-top: -1rem;
  height: 12rem;
  display: flex;
  flex-direction: column;
}

.startButton,
.subButton {
  align-self: center;
  appearance: none;
  border: none;
  padding: 0;
  background-color: transparent;
  color: white;
}

.startButton {
  margin: 0 0 1rem 0;
  font-size: 3rem;
  font-weight: 700;
  opacity: var(--button-opacity);
  transition: var(--button-transition);
}

.startButton:hover {
  opacity: var(--button-hover-opacity);
}

.subButton {
  margin: 0.5rem 0 0 0;
  font-size: 1rem;
  font-weight: 700;
  opacity: var(--button-opacity);
  transition: var(--button-transition);
}

.subButton:hover {
  opacity: var(--button-hover-opacity);
}

.breath {
  font-size: 3rem;
  font-weight: 700;
  margin: -0.5rem 0 0 0;
  padding: 0;
}

.timer {
  font-size: 2rem;
  font-weight: 500;
  opacity: 0.7;
  margin: 0 0 1rem 0;
}

.settings {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  display: grid;
  z-index: 100;
  place-content: center;
  transition: opacity 0.5s;
  background: #00000030;
  backdrop-filter: blur(8px);
  visibility: hidden;
}

.close {
  justify-self: center;
  margin-top: 1rem;
}

.audioOptions {
  border: none;
  padding: 0;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 12rem;
}

.audioOptions legend {
  text-align: center;
  font-size: 1.25rem;
  letter-spacing: 0.075rem;
  font-weight: 700;
  pointer-events: none;
  padding: 0;
  margin-bottom: 0.5rem;
}

.audioOptions,
.audioOptions label {
  cursor: pointer;
}

.audioOptions input {
  display: none;
  position: relative;
}

.audioOptions label {
  position: relative;
  letter-spacing: 0.075rem;
  font-weight: 700;
  opacity: var(--button-opacity);
  transition: var(--button-transition);
}

.audioOptions label:hover {
  opacity: var(--button-hover-opacity);
}

.audioOptions input:checked + label {
  opacity: var(--button-hover-opacity);
}

.audioOptions input + label::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 0%;
  opacity: 0;
  bottom: -1px;
  border: 1px solid white;
  transition: max-width 0.5s, opacity 0.5s;
}

.audioOptions input:checked + label::after {
  max-width: 100%;
  opacity: 1;
}

.backgroundAudio {
  margin: 0.5rem auto;
}
