:root {
  --final-opacity: 0.2;
  --breath-time: 2s;
  --transform: translateY(10vh);
}

html,
body {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: darkgreen;
}

main {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(9deg, rgba(32, 129, 112, 1) 0%, rgba(176, 226, 179, 1) 100%);
}

.breathContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-content: center;
  z-index: 10;
  overflow: hidden;
}

.breath {
  font-size: 3rem;
  font-weight: 700;
}

.animation {
  animation: fadeOut var(--breath-time) forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  /* opacity: 1; */
  display: grid;
  place-content: center;
  transition: opacity 0.5s;
  backdrop-filter: blur(8px);
}

.cloudContainer {
  position: relative;
}

.cloudContainer img {
  position: absolute;
  z-index: -1;
}

.cloudContainer img:first-of-type {
  top: -80px;
  animation: cloud 65s infinite;
}

.cloudContainer img:nth-of-type(2) {
  animation: cloud 85s infinite;
}

.cloudContainer img:last-of-type {
  top: -120px;
  animation: cloud 45s infinite;
}

@keyframes cloud {
  0% {
    transform: translateX(-60vw);
  }
  100% {
    transform: translateX(80vw);
  }
}
